/target
allCode.txt
.onesourcerc
allCode.txt
examples
tasks.json
.vscode__pycache__/
*.py[cod]
*$py.class

venv/
env/
.env

build/
dist/
*.spec


*.egg-info/
.eggs/


allCode.txt
.onesourcerc

.vscode/
.idea/

release.py
target/
.onesource